<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Recipes</title>
</head>
<body>
    <div class="logo">
        <div class="logo-img">
            <img src="#" alt="logo-img"> 
        </div>
        <h3 class="app-name">Collin'sComprehensiveCookingChronicle</h3>
    </div>
    
    <header>
      <div class="logo">
        <div class="logo-img">
            <img src="/Screenshots/logo.png" alt="logo-img"> 
        </div>
        <h3 class="app-name">Collin'sComprehensiveCookingChronicle</h3>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <% if(!currentUser) { %> 
          <li><a href="/auth/signup">Signup</a></li>
          <li><a href="/auth/login">Login</a></li>
          <% } else { %> 
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
          <% } %> 
          <li><a href="/ingredients">Ingredients</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="/blogs">Blogs</a></li>
        </ul>
      </nav>
    </header>

      <div class="recipe-header">
        <h1><span id="recipe-header"><%= recipe.name %></span></h1>
        <h2>Posted By: <%= recipe.submittedBy %></h2>
        <h2>Total Time Til Eating: <%= recipe.totalTime %></h2>
      </div>

      <div class="ing-list">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Ingredients:</th>
            </tr>
          </thead>
          <tbody>
             <!-- ===== first item list ====== -->

            <tr>
              <td><%= recipe.ingredients.item1.ing1 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item1.ing2 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item1.ing3 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item1.ing4 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item1.ing5 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item1.ing6 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item1.ing7 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item1.ing8 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item1.ing9 %></td>
            </tr>
             <!-- ===== second item list ===== -->
            <tr>
              <td><%= recipe.ingredients.item2.ing1 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item2.ing2 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item2.ing3 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item2.ing4 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item2.ing5 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item2.ing6 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item2.ing7 %></td>
            </tr>
             <!-- ===== third item list ===== -->
            <tr>
              <td><%= recipe.ingredients.item3.ing1 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item3.ing2 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item3.ing3 %></td>
            </tr>
            <tr>
              <td><%= recipe.ingredients.item3.ing4 %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="directions">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Directions:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= recipe.directions.step1 %></td>
            </tr>
            <tr>
              <td><%= recipe.directions.step2 %></td>
            </tr>
            <tr>
              <td><%= recipe.directions.step3 %></td>
            </tr>
            <tr>
              <td><%= recipe.directions.step4 %></td>
            </tr>
            <tr>
              <td><%= recipe.directions.step5 %></td>
            </tr>
          </tbody>
        </table>
      </div>

     <div class="recipe-pics">
      <img src="#" alt="recipe-pic-1">
      <img src="#" alt="recipe-pic-2">
      <img src="#" alt="recipe-pic-3">
     </div>
     
</body>
</html>